{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Gallery | Forgot Password</title>

    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="container">
<div class="right">
<h2>Reset Password</h2>
{% if error %}
<div class="error" id="message">
    {{ error }}
</div>
{% endif %}
{% if success %}
<div class="success" id="message">
    {{ success }}
</div>
{% endif %}
<form method="POST">
{% csrf_token %}
<label class="input-label">
<i class="fa-regular fa-user"></i>
Username
</label>

<input type="text" name="username" placeholder="Enter Username" required>
<label class="input-label">
<i class="fa-solid fa-mobile-screen-button"></i>
Mobile Number
</label>

<input type="text" name="mobile" placeholder="Enter Mobile Number" maxlength="10" pattern="[0-9]{10}"
oninput="this.value=this.value.replace(/[^0-9]/g,'')" required>

<label class="input-label">
<i class="fa-solid fa-key"></i>
New Password
</label>

<input
type="password"
name="new_password"
placeholder="Enter New Password"
required>

<label class="input-label">
<i class="fa-solid fa-lock"></i>
Confirm Password
</label>

<input
type="password"
name="confirm_password"
placeholder="Confirm Password"
required>

<button type="submit">
Update Password
</button>
</form>
<div class="divider">
<span>Or</span>
</div>
<div class="footer">
<a href="/">← Back to Login</a>
</div>
</div>
</div>
<script>
setTimeout(function(){
    let msg = document.getElementById("message");
    if(msg){
        msg.style.display = "none";
    }

},5000);
</script>
</body>
</html>