{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Gallery | Sign Up</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>

<div class="container">
    <div class="right">
        <h1>YourLocker</h1>
        <h3>Create Your Account</h3>
        {% if error %}
        <div class="error" id="message">
            {{ error }}
        </div>
        {% endif %}
        {% if success %}
        <div class="success" id="message">
            {{ success }}
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label class="input-label">
    <i class="fa-regular fa-user"></i>
    Username
</label>
            <input
    type="text"
    name="username"
    class="input-box"
    placeholder="Enter Username"
    pattern="^[A-Za-z0-9_.@]+$"
    title="Username can contain letters, numbers, underscore (_), dot (.), and @ only."
    required>

<label><i class="fa-solid fa-phone"></i> Mobile Number</label>
<input
    type="tel"
    name="mobile"
    placeholder="Enter Mobile Number"
    pattern="[0-9]{10}"
    maxlength="10"
    inputmode="numeric"
    oninput="this.value=this.value.replace(/[^0-9]/g,'').slice(0,10)"
    required>
<label class="input-label">
    <i class="fa-solid fa-key"></i>
    Password
</label>

<div class="password-box">
<input
    type="password"
    id="password"
    name="password"
    class="input-box"
    placeholder="Enter Password"
    minlength="8"
    
    required>

    <i class="fa-solid fa-eye toggle-password"></i>
</div>

 <label class="input-label">
    <i class="fa-solid fa-lock"></i>
    Confirm Password
</label>

<div class="password-box">
<input
    type="password"
    id="confirm_password"
    name="confirm_password"
    class="input-box"
    placeholder="Confirm Password"
    minlength="8"
    required>

    <i class="fa-solid fa-eye toggle-password"></i>
</div>
            <button type="submit">
                Register
            </button>
        </form>
                <div class="divider">
    <span>Or</span>
</div>
        <div class="footer">
            Already have an account?
            <a href="/">Login</a>
        </div>
    </div>
</div>
<script>
setTimeout(function(){
    let msg = document.getElementById("message");
    if(msg){
        msg.style.display="none";
    }
},5000);
</script>
<script>
document.querySelectorAll(".toggle-password").forEach(function(icon){

    icon.addEventListener("click",function(){

        let input=this.previousElementSibling;

        if(input.type==="password"){
            input.type="text";
            this.classList.remove("fa-eye");
            this.classList.add("fa-eye-slash");
        }
        else{
            input.type="password";
            this.classList.remove("fa-eye-slash");
            this.classList.add("fa-eye");
        }

    });

});
</script>
</body>
</html>